@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 400;
  src: url("../public/fonts/HelveticaNowDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 500;
  src: url("../public/fonts/HelveticaNowDisplay-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica Now Display";
  font-weight: 600;
  src: url("../public/fonts/HelveticaNowDisplay-Bold.otf") format("opentype");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
